= form_for [@app, translation] do |f|
  - if translation.errors.any?
    #error_explanation
      %h2= "#{pluralize(translation.errors.count, "error")} prohibited this translation from being saved: [T]"
      %ul
        - translation.errors.full_messages.each do |msg|
          %li= msg

  .field
    %h3= "#{@app.key} / #{@app.name}"

  - if translation.new_record?
    .field
      = f.label :locale_id, I18n.t('views.select_locale')
      = f.select :locale_id, options_from_collection_for_select(@locales, "id", "name", translation.locale_id)

    .field
      = f.label :phrase_id, I18n.t('views.select_phrase')
      = f.select :phrase_id, options_from_collection_for_select(@phrases, "id", "key", translation.phrase_id)

  - else
    .field
      %h3= "#{translation.locale.key} / #{translation.locale.name}"

    .field
      %strong= translation.phrase.key
      %p= translation.phrase.value
      %p= translation.phrase.hint

    .field
      = f.label :value
      = f.text_field :value

    .field
      = f.label :done
      = f.check_box :done


  .actions
    - if translation.reload.done && (translation.updated_at + 15.minutes) > Time.now.utc
      = f.submit 'Update(!) [T]', :class => "button", data: { confirm: "Translation was saved as:\n\n #{translation.value}\n\n less than 15 minutes ago. Do you really want to overwrite it?  [T]" }
    - else
      = f.submit 'Save [T]', :class => "button"
