%table

  - if with_filter

    / Pagination
    %tr
      %td{:colspan => 2}= will_paginate translations
      %td{:colspan => 3}= page_entries_info translations

    / Headers incl. links for sorting
    %tr
      %th.keys
        = link_to I18n.t('shared.key'),          app_translations_path(@app, sort: {phrase_key: :asc})
        = link_to "▼",                          app_translations_path(@app, sort: {phrase_key: :desc})
      %th.phrases
        = link_to I18n.t('shared.phrase'),       app_translations_path(@app, sort: {phrase_value: :asc})
        = link_to "▼",                          app_translations_path(@app, sort: {phrase_value: :desc})
      %th.locales
        = link_to I18n.t('shared.locale'),       app_translations_path(@app, sort: {locale_key: :asc})
        = link_to "▼",                          app_translations_path(@app, sort: {locale_key: :desc})
      %th.translations
        = link_to I18n.t('shared.translation'),  app_translations_path(@app, sort: {value: :asc})
        = link_to "▼",                          app_translations_path(@app, sort: {value: :desc})
      %th.dones
        = link_to I18n.t('shared.done'),         app_translations_path(@app, sort: {done: :asc})
        = link_to "▼",                          app_translations_path(@app, sort: {done: :desc})

    / Filtering
    %tr
      %td.keys
        = text_field_tag "filter[phrase_key]",    @filter["phrase_key"], {  placeholder: I18n.t('views.placeholder_search_key'), size: 40 }
      %td.phrases
        = text_field_tag "filter[phrase_value]",  @filter["phrase_value"], {  placeholder: I18n.t('views.placeholder_search_term'), size: 50 }
      %td.locales
        = select_tag     "filter[locale_key]",    options_for_select(@locales, @filter["locale_key"]), { prompt: I18n.t('shared.all'), width: 6 }
      %td.translations
        = text_field_tag "filter[value]",         @filter["value"], {  placeholder: I18n.t('views.placeholder_search_term'), size: 50 }
      %td.dones
        = select_tag     "filter[done]",          options_for_select([["ఠ_ఠ", false], ["✓", true]], @filter["done"]), { prompt: I18n.t('shared.all'), width: 6 }


  - else

    / Headers incl. links for sorting
    %tr
      - if can_archive == true
        %th.hiddens
          = I18n.t('shared.hidden')
      %th.keys
        = I18n.t('shared.key')
      %th.phrases
        = link_to I18n.t('shared.phrase')
      %th.locales
        = link_to I18n.t('shared.locale')
      %th.translations
        = link_to I18n.t('shared.translation')
      %th.dones
        = link_to I18n.t('shared.done')



  - translations.each do |translation|
    - translation_class = translation.done ? "translated" : "untranslated"
    - verification_class = translation.phrase.done ? "verified" : "unverified"

    %tr
      // Optional (only used on Phrase#show) to hide / unhide translations
      - if can_archive == true
        %td
          = best_in_place translation, :hidden, :type => :checkbox, :collection => ["✗", "✓"], :path => app_translation_path(@app, translation)

      // Phrase key with link to translation's show view - in line below the hint
      %td{class: ['keys', verification_class].join(' ')}
        = link_to translation.phrase.key, app_translation_path(@app, translation), { title: translation.phrase.key, rel: translation.phrase.key }
        %br
        %span.hint= translation.phrase.hint

      // Phrase value
      %td{class: ['phrases', verification_class].join(' ')}
        = translation.phrase.value

      // Locale (highlighted when untranslated) with link to edit translation
      %td.locales
        %span(class = translation_class)= link_to translation.locale.key, edit_app_translation_path(@app, translation)

      // Translation value
      - if translation.reload.done && (translation.updated_at + 15.minutes) > Time.now.utc
        %td.translations.just_translated
          = best_in_place translation, :value, :type => :textarea, :path => app_translation_path(@app, translation), nil: '<span class="translation-placeholder">...................</span>', data: { confirm: "Translation was saved as:\n\n #{translation.value}\n\n less than 15 minutes ago. Do you really want to overwrite it?  [T]" }
      - else
        %td.translations
          = best_in_place translation, :value, :type => :textarea, :path => app_translation_path(@app, translation), nil: '<span class="translation-placeholder">...................</span>'

      // Checkbox to mark translation as done
      %td.dones
        = best_in_place translation, :done, :type => :checkbox, :collection => ["ఠ_ఠ", "✓"], :path => app_translation_path(@app, translation)


  - if with_filter
    / Pagination
    %tr
      %td{:colspan => 2}= page_entries_info translations
      %td{:colspan => 2}= will_paginate translations
      %td{:colspan => 1}= submit_tag :search


// The dark realms:
:javascript

  // TODO: extract to appropriate place:
  $(document).ready(
    // Activating Best In Place
    function() { jQuery(".best_in_place").best_in_place(); }
  );

