%h1 Listing translations [T]

%table
  %tr
    %td{:colspan => 2}= will_paginate @phrases
    %td{:colspan => 3}= page_entries_info @phrases

  %tr
    %th= link_to "Key [T]",         app_translations_path(@app, sort: {phrase_key: :asc})
    %th= link_to "Content [T]",     app_translations_path(@app, sort: {phrase_value: :asc})
    %th= link_to "Locale [T]",      app_translations_path(@app, sort: {locale_key: :asc})
    %th= link_to "Translation [T]", app_translations_path(@app, sort: {value: :asc})
    %th= link_to "done [T]",        app_translations_path(@app, sort: {done: :asc})

  - @translations.each do |translation|
    - klass = translation.done ? "translated" : "untranslated"
    %tr
      / Phrase key with link to translation's show view - in line below the hint
      %td
        = link_to translation.phrase.key, app_translation_path(@app, translation)
        %br
        = translation.phrase.hint

      / Phrase value
      %td= translation.phrase.value

      / Locale (highlighted when untranslated) with link to edit translation
      %td(class = klass)= link_to translation.locale.key, edit_app_translation_path(@app, translation)

      / Translation value
      %td= best_in_place translation, :value, :type => :textarea, :path => app_translation_path(@app, translation), nil: '<span class="translation-placeholder">...................</span>'

      / Checkbox to mark translation as done
      %td= best_in_place translation, :done, :type => :checkbox, :collection => ["untranslated", "done"], :path => app_translation_path(@app, translation)

  %tr
    %th= link_to "Key [T]",         app_translations_path(@app, sort: {phrase_key: :desc})
    %th= link_to "Content [T]",     app_translations_path(@app, sort: {phrase_value: :desc})
    %th= link_to "Locale [T]",      app_translations_path(@app, sort: {locale_key: :desc})
    %th= link_to "Translation [T]", app_translations_path(@app, sort: {value: :desc})
    %th= link_to "done [T]",        app_translations_path(@app, sort: {done: :desc})

  %tr
    %td{:colspan => 2}= page_entries_info @phrases
    %td{:colspan => 3}= will_paginate @phrases


/ The dark realms:
:javascript

  // TODO: extract to appropriate place:

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
