%p
  %strong App: [T]
  = "#{@app.key} / #{@app.name}"
%p
  %strong Locale: [T]
  = "#{@translation.locale.key} / #{@translation.locale.name}"
%p
  %strong Phrase: [T]
  = @translation.phrase.key
  = @translation.phrase.value
  = @translation.phrase.hint
%p
  %strong Value: [T]
  = @translation.value
%p
  %strong Done: [T]
  = @translation.done

= link_to 'Edit [T]', edit_app_translation_path(@app, @translation)
\|
= link_to 'Back [T]', app_translations_path(@app)
