%h1 Translation Details

.form-horizontal
  .form-group
    .col-sm-2.control-label
      App: [T]
    .col-sm-10
      %p.form-control-static= "#{@app.key} / #{@app.name}"

  .form-group
    .col-sm-2.control-label
      Locale: [T]
    .col-sm-10
      %p.form-control-static= "#{@translation.locale.key} / #{@translation.locale.name}"

  .form-group
    .col-sm-2.control-label
      Phrase-key: [T]
    .col-sm-10
      %p.form-control-static= link_to @translation.phrase.key, app_phrase_path(@app, @translation.phrase)

  .form-group
    .col-sm-2.control-label
      Phrase-hint: [T]
    .col-sm-10
      %p.form-control-static= @translation.phrase.hint

  .form-group
    .col-sm-2.control-label
      Phrase: [T]
    .col-sm-10
      %p.form-control-static= @translation.phrase.value

  .form-group
    .col-sm-2.control-label
      Value: [T]
    .col-sm-10
      %p.form-control-static= @translation.value

  .form-group
    .col-sm-2.control-label
      Done: [T]
    .col-sm-10
      %p.form-control-static
        - klass = @translation.done ? "translated" : "untranslated"
        %span(class = klass)=  @translation.done


%h4 List of all translations [T]
= form_tag(app_translation_path(@app, @translation), method: :get) do
  = render 'list', translations: @translation.phrase.translations.active, with_filter: false, can_archive: false
