= form_for [@app, phrase], html: {class: 'form-horizontal'} do |f|
  - if phrase.errors.any?
    #error_explanation
      %h2= "#{pluralize(phrase.errors.count, "error")} prohibited this phrase from being saved: [T]"
      %ul
        - phrase.errors.full_messages.each do |msg|
          %li= msg

  - if phrase.new_record?
    = f.hidden_field :app_id, :value => @app.id

  .form-group
    = f.label :key, class: 'col-sm-2 control-label'
    .col-sm-10
      - if phrase.new_record?
        = f.text_field :key, class: 'form-control'
      - else
        %p.form-control-static= "#{phrase.key}"

  .form-group
    = f.label :value, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :value, class: 'form-control'

  .form-group
    = f.label :hint, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :hint, class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-10
      %label
        = f.check_box :done
        Done [T]

  .form-group
    .col-sm-offset-2.col-sm-10
      .actions
        = f.submit 'Save [T]', class: 'btn btn-primary'
        = link_to 'Cancel [T]', apps_path
