%p
  %strong App: [T]
  = "#{@app.key} / #{@app.name}"
%p
  %strong Key: [T]
  = @phrase.key
%p
  %strong Value: [T]
  = @phrase.value
%p
  %strong Hint: [T]
  = @phrase.hint
%p
  %strong Done: [T]
  - klass = @phrase.done ? "translated" : "untranslated"
  %span(class = klass)=  @phrase.done

= link_to 'Edit [T]', edit_app_phrase_path(@app, @phrase)
\|
= link_to 'List of phrases [T]', app_phrases_path(@app)
