%p
  %strong App: [T]
  = "#{@app.key} / #{@app.name}"
%p
  %strong Key: [T]
  = @phrase.key
%p
  %strong Value: [T]
  = @phrase.value
%p
  %strong Hint: [T]
  = @phrase.hint
%p
  %strong Done: [T]
  - klass = @phrase.done ? "translated" : "untranslated"
  %span(class = klass)=  @phrase.done

= link_to 'Edit [T]', edit_app_phrase_path(@app, @phrase)


%h4 List of all translations [T]
= form_tag(app_phrase_path(@app, @phrase), method: :get) do
  = render 'translations/list', translations: @phrase.translations, with_filter: false
