.container
  %p.text-right= link_to I18n.t('shared.new_phrase'), new_app_phrase_path(@app), class: 'btn btn-primary'

%h1 Phrase Details

.form-horizontal
  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.app')
    .col-sm-10
      %p.form-control-static= "#{@app.key} / #{@app.name}"

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.key')
    .col-sm-10
      %p.form-control-static= @phrase.key

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.phrase')
    .col-sm-10
      %p.form-control-static
        = best_in_place @phrase, :value, :type => :textarea, :path => app_phrase_path(@app, @phrase), nil: '<span class="translation-placeholder">...................</span>'

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.hint')
    .col-sm-10
      %p.form-control-static
        = best_in_place @phrase, :hint, :type => :textarea, :path => app_phrase_path(@app, @phrase), nil: '<span class="translation-placeholder">....</span>'

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.verified')
    .col-sm-10
      %p.form-control-static
        - klass = @phrase.done ? "translated" : "untranslated"
        %span(class = klass)= best_in_place @phrase, :done, :type => :checkbox, :collection => ["ఠ_ఠ", "✓"], :path => app_phrase_path(@app, @phrase)

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.archived')
    .col-sm-10
      %p.form-control-static
        - klass = @phrase.hidden ? "active" : "archived"
        %span(class = klass)= best_in_place @phrase, :hidden, :type => :checkbox, :collection => ["✗", "✓"], :path => app_phrase_path(@app, @phrase)

  .form-group
    .col-sm-2.control-label
      Copy all translations from an other key [T]
    .col-sm-10
      = form_tag copy_translations_from_app_phrase_path(@app, @phrase), :method => :post, :multipart => true, class: 'form-inline' do
        = label_tag :other_phrase_key, {}, class: 'sr-only'
        = text_field_tag :other_phrase_key, nil, class: 'form-control', placeholder: 'Other key [T]'
        = submit_tag 'Copy [T]', class: 'btn btn-default'




%h4= I18n.t('pages.translations')
= form_tag(app_phrase_path(@app, @phrase), method: :get) do
  = render 'translations/list', translations: @phrase.translations, with_filter: false, can_archive: true
