%p
  %strong App: [T]
  = "#{@app.key} / #{@app.name}"
%p
  %strong Key: [T]
  = @phrase.key
%p
  %strong Value: [T]
  = best_in_place @phrase, :value, :type => :textarea, :path => app_phrase_path(@app, @phrase), nil: '<span class="translation-placeholder">...................</span>'
%p
  %strong Hint: [T]
  = best_in_place @phrase, :hint, :type => :textarea, :path => app_phrase_path(@app, @phrase), nil: '<span class="translation-placeholder">....</span>'
%p
  %strong Done: [T]
  - klass = @phrase.done ? "translated" : "untranslated"
  %span(class = klass)= best_in_place @phrase, :done, :type => :checkbox, :collection => ["ఠ_ఠ", "✓"], :path => app_phrase_path(@app, @phrase)


%h4 List of all translations [T]
= form_tag(app_phrase_path(@app, @phrase), method: :get) do
  = render 'translations/list', translations: @phrase.translations, with_filter: false
