- if @locales.present?
  .container
    %p.text-right= link_to I18n.t('shared.new_locale'), new_app_locale_path(@app), class: 'btn btn-primary'

  %table.table
    %thead
      %tr
        %th= I18n.t('shared.name')
        %th= I18n.t('shared.key')
        %th= I18n.t('pages.phrases')
        %th= I18n.t('pages.translations')

    %tbody
      - @locales.each do |locale|
        %tr
          %td= link_to locale.name, app_locale_path(@app, locale)
          %td= locale.key
          %td= link_to "Add Phrase (#{@app.phrases.count}) [T]", new_app_phrase_path(@app)
          %td= link_to "Untranslated (#{locale.untranslated_count}) [T]", app_translations_path(@app, filter: {locale_key: locale.key, done: false})

    %tfoot
      %tr
        %td{:colspan => 2}= page_entries_info @phrases
        %td{:colspan => 2}= will_paginate @phrases

- else
  .jumbotron
    %h1
      No locales [T]
    %p
      Maybe you would like to create one? [T]
    %p= link_to I18n.t('shared.new_locale'), new_app_locale_path(@app), class: 'btn btn-primary btn-lg'
