%h1 Listing locales [T]

%table
  %tr
    %th Name [T]
    %th Key [T]
    %th Add Phrase [T]
    %th Translate [T]

  - @locales.each do |locale|
    %tr
      %td= link_to locale.name, edit_app_locale_path(@app, locale)
      %td= locale.key
      %td= link_to 'Add Phrase [T]', new_app_phrase_path(@app)
      %td= link_to 'Untranslated [T]', app_translations_path(@app)

%br

%p= link_to "New locale [T]", new_app_locale_path(@app)
