%h1 Locale Details

.form-horizontal
  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.app')
    .col-sm-10
      %p.form-control-static= "#{@app.key} / #{@app.name}"

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.name')
    .col-sm-10
      %p.form-control-static
        = best_in_place @locale, :name, :type => :input, :path => app_locale_path(@app, @locale), inner_class: 'form-control glyphicon glyphicon-search', nil: "<span class='translation-placeholder'>#{@locale.key}</span>"

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.key')
    .col-sm-10
      %p.form-control-static= @locale.key

  .form-group
    .col-sm-2.control-label
      = I18n.t('shared.archived')
    .col-sm-10
      %p.form-control-static
        - klass = @locale.hidden ? "active" : "archived"
        %span(class = klass)= best_in_place @locale, :hidden, :type => :checkbox, :collection => ["✗", "✓"], :path => app_locale_path(@app, @locale)


%h3 Archived Phrases [T]
= form_tag(app_locale_path(@app, @locale), method: :get) do
  = render 'phrases/list', phrases: @locale.phrases.archived.page(params[:page]), with_filter: false, can_archive: true


// The dark realms:
:javascript

  // TODO: extract to appropriate place:
  $(document).ready(
    // Activating Best In Place
    function() { jQuery(".best_in_place").best_in_place(); }
  );
