%p
  %strong App: [T]
  = "#{@app.key} / #{@app.name}"
%p
  %strong Name: [T]
  = best_in_place @locale, :name, :type => :input, :path => app_locale_path(@app, @locale), nil: "<span class='translation-placeholder'>#{@locale.key}</span>"
%p
  %strong Key: [T]
  = @locale.key
%p
  %strong Archived: [T]
  - klass = @locale.hidden ? "active" : "archived"
  %span(class = klass)= best_in_place @locale, :hidden, :type => :checkbox, :collection => ["✗", "✓"], :path => app_locale_path(@app, @locale)



%h4 List of all ARCHIVED phrases [T]
= form_tag(app_locale_path(@app, @locale), method: :get) do
  = render 'phrases/list', phrases: @locale.phrases.archived.page(params[:page]), with_filter: false, can_archive: true
