.field
  = label_tag :file, 'Text ressources to import [T]'
  = file_field_tag :file

.field
  = label_tag :use_as_phrase, 'Use uploaded string as master content for the phrases [T]'
  = radio_button_tag(:use_as_phrase, :true)
  = label_tag :use_as_phrase, :true
  = radio_button_tag(:use_as_phrase, :false, true)
  = label_tag :use_as_phrase, :false

.field
  = label_tag :set_as_verified, 'Mark imported keys (phrases) as verified [T]'
  = radio_button_tag(:set_as_verified, :true, true)
  = label_tag :set_as_verified, :true
  = radio_button_tag(:set_as_verified, :false)
  = label_tag :set_as_verified, :false

.field
  = label_tag :import_translations, 'Import not only master content, but also translations [T]'
  = radio_button_tag(:import_translations, :true, true)
  = label_tag :import_translations, :true
  = radio_button_tag(:import_translations, :false)
  = label_tag :import_translations, :false

- if choose_locale
  .field
    = label_tag :set_locale, 'Import translations for this language (locale key in ISO-CODE format) [T]'
    = text_field_tag :set_locale

.field
  = label_tag :set_as_translated, 'When importing translations, mark them as translated [T]'
  = radio_button_tag(:set_as_translated, :true, true)
  = label_tag :set_as_translated, :true
  = radio_button_tag(:set_as_translated, :false)
  = label_tag :set_as_translated, :false
