%h2 YAML file upload [T]

= form_tag app_import_upload_yaml_path(@app), :method => :post, :multipart => true do

  .field
    = label_tag :file, 'YAML file [T]'
    = file_field_tag :file

  .field
    = label_tag :import_translations, 'Import_translations [T]'
    = radio_button_tag(:import_translations, :false, true)
    = label_tag :import_translations, :false
    = radio_button_tag(:import_translations, :true)
    = label_tag :import_translations, :true

  .field
    = label_tag :set_as_translated, 'When importing translations, mark them as translated [T]'
    = radio_button_tag(:set_as_translated, :true, true)
    = label_tag :set_as_translated, :true
    = radio_button_tag(:set_as_translated, :false)
    = label_tag :set_as_translated, :false

  .field
    = submit_tag 'Import [T]'
