%h2= "#{I18n.t 'pages.home'} - a better translation tool"

%h3 ToDos:
%ul
  %li Copy 'Master Content' into empty translation
  %li Warning if Translation was saved in the last 15 minutes already
  %li Styling
  %li Specs
  %li Export-API
  %li Import-API
  %li ...
  %li Import of iOS / Android Locales
  %li Export of iOS / Android Locales
  %li User-Rights-System

%h3 Implemented:
%ul
  %li Create Apps, Locales, Phrases  ✓
  %li YAML File Import  ✓
  %li YAML File Export  ✓
  %li Import of XING-Perl Locales  ✓
  %li Export of XING-Perl Locales  ✓
  %li Import options  ✓
  %li Export options  ✓
  %li Import in background  ✓
  %li Display count of untranslated Phrases  ✓
  %li Full-text Search  ✓
  %li Filter by Locale or status  ✓
  %li Pagination  ✓
  %li Sorting  ✓
  %li In-place Editing  ✓
  %li Better Navigation  ✓
  %li Workflow step: Phrase verified yes/no  ✓
  %li Workflow step: Translation proofread yes/no  ✓
  %li Workflow step: Locale or Phrase archived yes/no  ✓
  %li Create Phrases that are translated into selected languages only  ✓
  %li Copy Translations into new Keys  ✓
  %li I18n :)  ✓

%br
%br
%table
  %tr
    %td{:colspan => 4}
      %h4 t8r was started in my spare time and made the next step during the XING Innovation week 12/2014.
      %h4 Rich helped out with some great ideas and a nice styling.
      %br
      %br
  %tr
    %td &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    %td
      %h4 Rich Barton
    %td &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    %td
      %h4 Andreas Finger
  %tr
    %td &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    %td
      = link_to image_tag('https://www.xing.com/pubimg/users/c/6/5/a3c341e08.16869308,2.jpg'), 'https://www.xing.com/pubimg/users/c/6/5/a3c341e08.16869308,2.jpg'
    %td
    %td
      = link_to image_tag('https://www.xing.com/pubimg/users/f/1/c/01cb72194.4227760,7.jpg'), 'https://www.xing.com/pubimg/users/f/1/c/01cb72194.4227760,7.jpg'
  %tr
    %td{:colspan => 4}
      %br
      %br
      %br
  %tr
    %td{:colspan => 4}
      %h4 Source code:
      %h4= link_to "https://source.xing.com/Andreas-Finger/t8r", "https://source.xing.com/Andreas-Finger/t8r"
      %br
      %br
      %br
