%h2 YAML file download [T]

= form_tag app_export_path(@app), :method => :post, :multipart => true do

  .field
    = label_tag :locale
    = select_tag :locale, options_for_select(@locales)

  .field
    = label_tag :format
    = select_tag :format, options_for_select({YAML: :yaml, OBC: :obc})

  .field
    = submit_tag 'Export [T]'
