%h1 Listing apps [T]

%table
  %tr
    %th Name [T]
    %th Key [T]
    %th
    %th
    %th
    %th Add Phrase [T]

  - @apps.each do |app|
    %tr
      %td= app.name
      %td= app.key
      %td= link_to 'Show [T]', app
      %td= link_to 'Edit [T]', edit_app_path(app)
      %td= link_to 'Add Locale [T]', new_app_locale_path(app)
      %td= link_to 'Add Phrase [T]', new_app_phrase_path(app)

%br

%p= link_to "New app [T]", new_app_path
