%h1 Listing apps [T]

%table
  %tr
    %th Name [T]
    %th Key [T]
    %th
    %th Add Phrase [T]
    %th Translate [T]

  - @apps.each do |app|
    %tr
      %td= link_to app.name, app
      %td= app.key
      %td= link_to "Edit [T]", edit_app_path(app)
      %td= link_to "Add Phrase (#{app.phrases.count}) [T]", new_app_phrase_path(app)
      %td= link_to "Untranslated (#{app.translations.untranslated_count}) [T]", app_translations_path(app, filter: {done: false})

  %tr
    %td{:colspan => 2}= page_entries_info @phrases
    %td
    %td{:colspan => 2}= will_paginate @phrases

%br

%p= link_to "New app [T]", new_app_path
