- if @apps.present?
  .container
    %p.text-right= link_to I18n.t('shared.new_app'), new_app_path, class: 'btn btn-primary'

  .container.apps
    - @apps.each do |app|

      = render 'dashboard', app: app


  .container
    .row
      .col-xs-6
        = page_entries_info @apps
      .col-xs-6.text-right
        = will_paginate @apps

- else
  .jumbotron
    %h1 Welcome to T8r
    %p Create your first app to get started.
    %p= link_to I18n.t('shared.new_app'), new_app_path(@app), class: 'btn btn-primary btn-lg'
