/ ### Begin of partial shared/_nav.html.haml ###

.navbar
  %ul.nav
    - if @app_count = 0
      %li= link_to I18n.t('pages.apps'),           new_app_path
    -else
      %li= link_to I18n.t('pages.apps'),           apps_path
      - if @app.present? && @app.id
        %li= link_to I18n.t('pages.locales'),      app_locales_path(@app)
        %li= link_to I18n.t('pages.phrases'),      app_phrases_path(@app)
        %li= link_to I18n.t('pages.translations'), app_translations_path(@app)
  %ul.nav.pull-right
    %li= link_to I18n.t('pages.home'),             root_path
